body {
    width: 600px;
    margin: 0 auto;
}

#todo {
    width: 100%;
    height: 100%;
    text-align: center;
}

#todo h1 {
    font-size: 100px;
    text-align: center;
    width: 100%;
    color: red;
    margin: 30px 0;
}

.weather ul {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.weather ul li {
    list-style: none;
    margin: 20px 0 0;
    font-size: 20px;
    color: #000;
}

.loader {
    margin: 50px 0 0 0;
    font-size: 30px;
}

.add-input {
    position: relative;
    width: 500px;
    padding: 16px;
    padding-left: 50px;
    font-size: 16px;
}

.toggle-all {
    position: absolute;
    top: -45px;
    left: 10px;
    width: 34px;
    height: 30px;
    text-align: center;
    padding: 0;
    outline: none;
}

.toggle-all:before {
    content: 'All';
    font-size: 22px;
    color: black;
    padding: 0;
}

.list-of-todo {
    margin: 0;
    padding: 0;
    position: relative;
}

.list-of-todo .to-do-paragraph {
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: auto;
    padding: 16px;
    padding-left: 0
}

.list-of-todo .to-do-paragraph .checkbox {
    position: absolute;
    margin: auto 0;
    top: 0;
    bottom: 0;
    width: 40px;
    text-align: center;
    outline: none;
}

.list-of-todo .to-do-paragraph .checkbox[type=checkbox]:checked~lable {
    color: #d9d9d9;
    text-decoration: line-through;
}

.list-of-todo .to-do-paragraph lable {
    width: 100%;
    font-size: 25px;
    margin-left: 50px;
    transition: color 0.4s;
}

.list-of-todo .to-do-paragraph .editable-input {
    width: 100%;
    margin-left: 50px;
    font-size: 25px;
}

.list-of-todo .to-do-paragraph .removeButton {
    position: absolute;
    bottom: 0;
    top: 0;
    right: 0;
    width: 30px;
    height: 25px;
    float: right;
    background: none;
    font-weight: bold;
    border: none;
    margin: auto 0;
    font-size: 20px;
    color: #cc9a9a;
    outline: none;
    cursor: pointer;
}

.list-of-todo .to-do-paragraph .removeButton:hover {
    color: #CC3F3F;
}

.to-do-footer {
    display: flex;
    justify-content: space-between;
    width: auto;
    padding: 10px 10px 15px 30px;
    background-color: white;
    border-top: 1px solid black;
}

.to-do-footer:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
    z-index: -1;
}

.to-do-footer .counter {
    padding: 6px 0 0 0;
}

.to-do-footer .filters {
    padding: 0;
    margin: 0;
}

.to-do-footer .filters li {
    display: inline-block;
    margin-right: 10px;
}

.to-do-footer .filters li button {
    height: 30px;
    outline: none;
}

.to-do-footer .filters .active-filter {
    background: #fff;
}

.to-do-footer .clear-completed {
    height: 30px;
    outline: none;
}

/*# sourceMappingURL=App.css.map */
